---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

<<<<<<< HEAD
const { href, className, ariaLabel, title, disabled = false } = Astro.props;
=======
const {
  href,
  className = "",
  ariaLabel,
  title,
  disabled = false,
} = Astro.props;
>>>>>>> upstream/main
---

{
  disabled ? (
    <span
<<<<<<< HEAD
      class={`group inline-block ${className}`}
      aria-label={ariaLabel}
=======
      class:list={["group inline-block", className]}
>>>>>>> upstream/main
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
<<<<<<< HEAD
      class={`group inline-block hover:text-skin-accent ${className}`}
=======
      class:list={["group inline-block hover:text-skin-accent", className]}
>>>>>>> upstream/main
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </a>
  )
}
